<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home page {% endblock %}</title>
</head>
<body>
    <nav>
        <div>
            <a id="login" href="/login">log in</a>
            <a id="register" href="/register">register</a>
            <a id="logout" href="/logout">log out</a>
            <a id="home" href="/">home</a>
            <a id="terminal" href="/terminal">terminal</a>
        </div>
    </nav>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                    <div style="color: green;">{{ message }}</div>
                {% else %}
                    <div style="color: red;">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}Hi :){% endblock %}
</body>
</html>